<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пиццу</title>
</head>
<body>
    <h1>Добавить пиццу</h1>

    <form method="post">
        <label for="name">Название:</label><br>
        <input type="text" name="name" id="name" required><br>
        
        <label for="ingredients">Ингредиенты:</label><br>
        <input type="text" name="ingredients" id="ingredients" required><br>
        
        <label for="price">Цена:</label><br>
        <input type="number" name="price" id="price" required><br><br>
        
        <input type="submit" value="Добавить пиццу">
    </form>

    <div class="button-container">
        <a href="{{ url_for('poll_page') }}">
            <button class="poll-button" type="button">Перейти к опросу</button>
        </a>
    </div>

    <div class="button-container">
        <a href="{{ url_for('index') }}">
            <button type="button">Вернуться на главную</button>
        </a>
    </div>
</body>
</html>