<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orderman - Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1> Menu in pizzeria Orderman</h1>
    </header>
    <div class="menu-table">
        <table>
            <thead>
            <tr>
                <th> pizza name </th>
                <th> pizza description</th>
                <th> pizza price</th>
            </tr>
            </thead>
            <tbody>
            {% for pizza in pizzas%}
            <tr>
                <td> {{ pizza.name}}</td>
                <td>{{ pizza.description }} </td>
                <td>{{ pizza.price  }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
