<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orderman - Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1> Menu in pizzeria Orderman</h1>
    </header>
    <div class="menu-table">
        <table>
    <tr>
      <th>ID</th>
      <th>Назва</th>
      <th>Інгредієнти</th>
      <th>Ціна</th>
    </tr>
    {% for pizza in pizzas %}
      <tr>
        <td>{{ pizza[0] }}</td>
        <td>{{ pizza[1] }}</td>
        <td>{{ pizza[2] }}</td>
        <td>{{ pizza[3] }} грн</td>
      </tr>
    {% endfor %}
</table>
    </div>
<div class="button-container">
    <a href="http://127.0.0.1:6060" class="my-button">Back to login</a>
</div>
</body>
</html>


